{% extends "page.html" %}

{% block title %}
{{row.location}} Depremleri - Deprem.us
{% endblock %}

{% block page %}

<div style="overflow-x: scroll;" class="mdl-shadow--2dp">
    <table class="mdl-data-table">
        <tbody>
            <tr>
                <td class="mdl-data-table__cell--non-numeric">Tarih</td>
                <td class="mdl-data-table__cell--non-numeric">{{row.date}}</td>
            </tr>
            <tr>
                <td class="mdl-data-table__cell--non-numeric">Şiddet</td>
                <td class="mdl-data-table__cell--non-numeric"><strong class="{{ 'red-font' if (row.force > 3) else '' }}">{{row.force}}</strong></td>
            </tr>
            <tr>
                <td class="mdl-data-table__cell--non-numeric">Derinlik</td>
                <td class="mdl-data-table__cell--non-numeric">{{row.depth}}</td>
            </tr>
            <tr>
                <td class="mdl-data-table__cell--non-numeric">Konum</td>
                <td class="mdl-data-table__cell--non-numeric"> <a
                        class="map-link"
                        href="https://www.google.com/maps/@{{row.lat}},{{row.lon}},12z"
                        target="_blank">
                    {{row.location}} <i class="material-icons" style="font-size: 13px;">call_made</i>
                </a></td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}