<footer class="page-footer light-blue darken-1">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Deprem.us</h5>
                <p class="grey-text text-lighten-4">
                    Deprem verileri Kandilli Rasathanesi ve Deprem Araştırma Enstitüsü'nden alınmaktadır. <br>
                    <i>(Son {{EARTHQUAKES_ARRAY_LENGTH}} deprem listelenmektedir).</i>
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Linkler</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" target="_blank" href="https://github.com/lugrugzo">Kaynak Kod</a></li>
                    <li><a class="grey-text text-lighten-3" target="_blank" href="https://twitter.com/lugrugzo">Twitter</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2017
        </div>
    </div>
</footer>