{% extends "page.html" %}

{% block title %}
Türkiye'deki Son Depremler - Deprem.us
{% endblock %}

{% block page %}

<div class="mdl-card mdl-shadow--2dp" style="width: 100%;">

    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Hakkında</h2>
    </div>

    <div class="mdl-card__supporting-text">
        Deprem verileri Kandilli Rasathanesi ve Deprem Araştırma Enstitüsü'nden alınmaktadır.
        Son {{EARTHQUAKES_ARRAY_LENGTH}} deprem listelenmektedir.
    </div>

</div>

{% endblock %}