{% extends "page.html" %}

{% block title %}
Deprem
{% endblock %}

{% block page %}

<main class="pad-5">
    <table class="striped highlight z-depth-1">
        <thead>
        <tr>
            <th>Tarih</th>
            <th>Şiddet</th>
            <th>Derinlik</th>
            <th>Konum</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for row in earthquakesArray %}
        <tr>

            <td>{{row.date}}</td>
            <td><strong class="{{ 'red-font' if (row.force > 3) else '' }}">{{row.force}}</strong></td>
            <td>{{row.depth}}</td>
            <td>
                <a href="/deprem/{{row.base64}}">{{row.location}}</a>
            </td>
            <td><a href="/deprem/{{row.base64}}">Detay</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</main>


{% endblock %}