{% extends "page.html" %}

{% block title %}
Türkiye'deki Son Depremler - Deprem.us
{% endblock %}

{% block page %}

<div style="overflow-x: scroll;" class="mdl-shadow--2dp">
    <table class="mdl-data-table">
        <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Tarih</th>
            <th>Şiddet</th>
            <th>Derinlik</th>
            <th class="mdl-data-table__cell--non-numeric">Konum</th>
            <th class="mdl-data-table__cell--non-numeric">Detay</th>
        </tr>
        </thead>
        <tbody>
        {% for row in earthquakesArray %}
        <tr>

            <td class="mdl-data-table__cell--non-numeric">{{row.date}}</td>
            <td><strong class="{{ 'red-font' if (row.force > 3) else '' }}">{{row.force}}</strong></td>
            <td>{{row.depth}}</td>
            <td class="mdl-data-table__cell--non-numeric">
                <a href="/deprem/{{row.base64}}">{{row.location}}</a>
            </td>
            <td class="mdl-data-table__cell--non-numeric"><a href="/deprem/{{row.base64}}">Detay</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}