<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<!-- for seo -->
<meta name="description" content="Son depremler - Deprem.us">
<meta name="keywords" content="Son depremler, deprem, depremler, güncel depremler">
<meta name="author" content="Özgür GÜL">

<!-- css -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.red-pink.min.css" />


<!-- js -->
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

<!-- twit -->
<meta name="twitter:site" content="@lugrugzo">
<meta name="twitter:creator" content="@lugrugzo">
<meta name="twitter:title" content="Son depremler - Deprem.us">
<meta name="twitter:description" content="Son depremler, anlık bilgiler">

<style>
    .pad-5 { padding: 5px; }
    .red-font { color: #f44336; }
    .mdl-layout__drawer-button .material-icons {
        line-height: 48px; // fix header icon
    }

    .page-content {
        padding: 30px;
    }

    .mdl-data-table {
        width: 100%;
    }

</style>
