<title>Türkiye'deki Son Depremler - Deprem.us</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<!-- for seo -->
<meta name="description" content="Son depremler - Deprem.us">
<meta name="keywords" content="Son depremler, deprem, depremler, güncel depremler">
<meta name="author" content="Özgür GÜL">

<!-- css -->
<link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

<!-- twit -->
<meta name="twitter:site" content="@lugrugzo">
<meta name="twitter:creator" content="@lugrugzo">
<meta name="twitter:title" content="Son depremler - Deprem.us">
<meta name="twitter:description" content="Son depremler, anlık bilgiler">

<style>
    .pad-5 { padding: 5px; }
    .map-link { color: #03a9f4; }
    .map-link:hover { text-decoration: underline; }
    .red-font { color: #f44336; }
</style>
